@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Solid.WebUI.Models.ProductListModel
@{
    Layout = "~/Views/_Layout.cshtml";
}


<div>
    <table>
        <tr>
            <td>Product Name</td>
            <td>Product Price</td>
            <td>Product in Stock</td>
        </tr>
        @foreach (var item in Model.Products)
            {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.UnitPrice</td>
                <td>@item.UnitsInStock</td>
            </tr>
        }
    </table>
</div>


