@model Solid.WebUI.Models.UserDetailViewModel

<ul class="dropdown-menu">
   @if (!String.IsNullOrEmpty(Model.UserName))
   {
    <li>
        <a>Hoşgeldin @Model.UserName</a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="LogOff">Çıkış Yap</a>
    </li>
   }
</ul>